<div class="wizard-inner">
    <div class="connecting-line"></div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#informacoes" data-toggle="tab" aria-controls="informacoes" data-info="informacoes" role="tab" title="@($"Informações do edital e dados empresa")">
                <span class="round-tab">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
            </a>
        </li>
        <li role="presentation" class="disabled">
            <a href="#anexos" data-toggle="tab" aria-controls="anexos" data-info="anexos" role="tab" title="@($"Envio da documentação necessária")">
                <span class="round-tab">
                    <i class="glyphicon glyphicon-paperclip"></i>
                </span>
            </a>
        </li>
        <li role="presentation" class="disabled">
            <a href="#completo" data-toggle="tab" aria-controls="completo" data-info="completo" role="tab" title="@($"Aceitação dos termos antes de prosseguir")">
                <span class="round-tab">
                    <i class="glyphicon glyphicon-ok"></i>
                </span>
            </a>
        </li>
    </ul>
</div>