@model Siscred.Application.ViewModel.RedefinirSenhaVm
@{
    ViewBag.Title = "Redefinir senha";   
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Redefinir Senha</div>
            </div>
            <div class="panel-body">
                @Html.Partial("_FormRedefinirSenha")
            </div>
        </div>
    </div>
</div>